#board {
	display: flex;
	flex-wrap: wrap;
	height: 605px;
	width: 605px;
	/* border: 3px black solid; */
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 33%;
	height: 33%;
	font-size: 2em;
	border: 1px solid black;
}
