body {
	display: flex;
	justify-content: center;

	height: 100vh;
	overflow-y: hidden;

	font-family: "Rowdies", cursive;
}

.gameContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	margin-top: 3em;
}

.header {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	height: 10vh;
	width: 80vw;
}

.playerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	height: 10vh;
	width: 35vw;
	font-size: 1.3em;

	padding-bottom: 0.3em;

	border-bottom: 6px solid lightblue;
	border-radius: 3px;
}

#result {
	height: 5vh;
}

#board {
	display: flex;
	flex-wrap: wrap;

	height: 80vw;
	width: 80vw;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(100% / 3);
	width: calc(100% / 3);

	border: 2px groove lightskyblue;
	box-sizing: border-box;

	font-size: 2em;
}
